/* Estilo para el contenedor de la imagen */
.image-container {
  text-align: center;
  background-color: #26272c;
  padding-bottom: 2%;
  /* Centra el contenido (la imagen) horizontalmente */
}

.image-container {
  position: relative;
}

.canvas-overlay {
  position: absolute;
  
  height: 326px;
  width: 443px;
  pointer-events: none;
  border-radius: 17%;
  /* Hace que el borde del canvas sea redondeado */

}


/* Estilo para la imagen */
img {
  max-width: 100%;
  /* Ajusta el tamaño máximo de la imagen al contenedor */
  height: auto;
  /* Para mantener la proporción de aspecto de la imagen */
  display: inline-block;
  /* Asegura que la imagen se muestre como un bloque */
}

/* Estilo para el cuerpo HTML */
.html {
  background-color: #26272c;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {

  /* Reducir el padding del contenedor de la imagen */
  .image-container {
    padding-bottom: 1%;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95.9vh;
  /* Establece la altura al 100% del viewport */
  overflow: hidden;
  /* Oculta el contenido que exceda el tamaño del contenedor */
}

.image-container img {
  max-width: 100%;
  /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 100%;
  /* Asegura que la imagen no exceda la altura del contenedor */
  vertical-align: middle;
  /* Alinea verticalmente la imagen */
}