/* terminal.css */

.terminal {
    background-color: #151614;
    color: lime;
    font-family: monospace;
    border-radius: 8px;
    overflow: hidden;
    width: 415px;
    height: 315px;
}

.content {
    padding: 10px;
    overflow-y: auto;
    /* Añadir barra de desplazamiento cuando el contenido excede la altura */
}

.input {
    background: transparent;
    border: none;
    color: lime;
    font-family: monospace;
    outline: none;
    width: calc(100% - 30px);
    /* Reducir el ancho del input para dejar espacio al prompt */
}

.prompt {
    color: lime;
}

input:focus+.prompt {
    outline: 1px solid lime;
}

pre {
    white-space: pre-wrap;
    /* Permitir que el texto se ajuste */
    word-wrap: break-word;
    /* Romper palabras largas */
    overflow-wrap: break-word;
    /* Evitar que las palabras largas desborden */
}